header {
	img{
		margin:auto;
	}
	p{
		@include text(27px);
		text-align: center;
	}

	.line{
		height: 2px;
		width: 100%;
		background-color: $black;
		display: inline-block;
	}
	h1{
		@include text(34px,$stack-CirceBold,$orange,70px);
		text-align: center;
	}
	h2{
		@include text(30px,$stack-CirceBold,#020001);
		text-align: center;
	}
	button{
		margin: 40px 0;
		@include button();
	}
}

